.form-container {
    background-color: white;
    padding: 16px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container h2 {
    margin-bottom: 12px;
}

.form-group {
    margin-bottom: 12px;
}