

.booking-rooms-container {
    margin-top: 16px;
    height: 240px; /* Adjust the height as needed */
    overflow-y: scroll;
    border: 1px solid #ccc; /* Just for visibility */
}

.booking-rooms-header {
    display: flex;
    justify-content: space-between;
}

#searchBox {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#roomsList {
    padding: 0;
    margin: 0;
    list-style: none; /* Removes the default list bullet points */
}

#roomsList li {
    padding: 10px; /* Add some padding for each list item */
    border-bottom: 1px solid #eee; /* Optional separator for each room */
}

.popup {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 1000; /* Make sure it's above other elements */
  }
  
  .calendar .day.available {
    background-color: green;
  }
  
  .calendar .day.unavailable {
    background-color: red;
  }