
.main-content {
    overflow-y: auto;
}

.building-section {
    border: 2px solid #ffc900; /* yellow borders on buttons */
    background-color: #00334f;
    color: white;
    margin: 24px 0;
}

.building-section h2 {
    margin-bottom: 16px;
}

.room-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 1000; /* Make sure it is above other content */
}

.room-popup h3 {
    margin-top: 0;
}

.room-popup p{
    margin: 12px 0;
}

.room-popup button {
    background-color: #00334f;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 4px;
    cursor: pointer;
}

.room-popup button:hover {
    background-color: white;
    color: black;
}

.room-item {
    cursor: pointer;
    margin-bottom: 8px;
}

.room-item:hover {
    color: #707070;
}

.building-section ul{
    list-style: none; /* Remove list bullet points */
    padding: 0;
    margin: 0;
}



.value-bar-container {
    display: inline-block;
    width: 50%;
    vertical-align: middle; /* Align the bars in the middle vertically */
    margin-left: 10px;
}

.value-bar {
    height: 20px;
    border: 1px solid #ccc;
}
