* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00334f;
    color: white;
    padding: 20px 20px;
}

.header-title {
    text-decoration: none;
    color: #ffc900;
    font-size: 26px;
}

.login {
    width: 100%;
    max-width: 80px;
    color: #ffc900;
    text-decoration: none; /* removes underline */
    padding: 5px 10px;
    text-align: center;
    border: 2px solid #ffc900;
    border-radius: 5px; /* rounds off buttons corners*/
}

.login:hover {
    background-color: #dedede; /* hovering buttons makes the background change to grey */
}


.user-info-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.user-info-content {
    display: flex;
    padding: 8px;
}

.user-info-name, .user-info-role {
    padding-left: 4px
}



.menu-container {
    width: 100%; /* Adjust the width of the menu container */
    max-width: 80px;
}

.menu-toggle {
    /* top:30px;
    bottom:30px; */
    cursor: pointer;
}






nav {
    height: 100%; /* 100% Full-height */   
    width: 250px; /* Set the sidebar width */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #00334f;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 70px; /* Place content 70px from the top */
    transform: translateX(-250px); /* Start off-screen */
    transition: transform 0.3s; /* Smooth transition for transform property */
}

/* The navigation menu links */
nav a {
    padding: 8px 8px 8px 8px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    background-color: #00334f;
    border-radius: 5px; /* rounds off buttons */
    border: 2px solid #ffc900; /*red border around each button */
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
nav a:hover {
    color: white;
    transform: scale(1.05); /* tab enlargees when hovered */
    background-color: #dedede; /* tab turns grey when hovered*/
  }

  
  /* Position and style the close button */
nav .closebtn {
    /* position:absolute;
    top: 0;
    right: 25px;
    font-size: 36px; */
    width: 100%;
    max-width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 16px;
    right: 0;
  }

/* When the sidebar is supposed to be open, add a class with the following properties: */
.open {
    transform: translateX(0);
}





.bar {
    width: 25px;
    height: 3px;
    background-color: #ffc900;
    margin: 5px 0;
    transition: transform 0.3s, opacity 0.3s;
}

.main-content {
    flex: 1;
    padding: 20px;
    background: #dedede;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;

}

section {
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.rooms-available, .rooms-occupied {
    display: flex;
    justify-content: space-around;
    margin: 40px 40px;
}

